name: CI

on:
  pull_request:
  merge_group:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache .cargo and target
        uses: actions/cache@v4
        with:
          path: |
            ~/.rustup
            ~/.cargo
            ./target
          key: cargo-${{ runner.os }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7m-none-eabi
      - run: cargo install flip-link
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: cargo fmt --all --check
      - run: cargo build --release --features=f100,xC
      - run: cargo build --release --features=f107,xG,defmt
      - run: python3 scripts/build.py build --release
      - run: python3 scripts/build.py clippy
      - run: python3 scripts/build.py test
      - run: python3 scripts/build.py build --example=f103c8
